<!DOCTYPE html>
<!-- 본문 코드가 위치하는 파일로서 상단에 layout:decorate="경로/공통페이아웃파일명"을 선언하여 기본 레이아웃 파일을 사용하겠다라는 의미이다.-->
<html lang="ko" layout:decorate="~{template/client/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!--/* 나머지 페이지에서 layout:fragment="content" 아래의 코드는 기본 레이아웃의 content라는 부분에 위치한다. */-->


<th:block layout:fragment="content">
    <h2 class="text-center">게시판 리스트</h2>
    <!--    <div id="boardSearch" class="my-2">-->
    <!--        <form id="searchForm">-->
    <!--            <div class="row g-2 align-items-center">-->
    <!--                <div class="col-auto">-->
    <!--                    <label for="search">검색조건</label>-->
    <!--                </div>-->
    <!--                <div class="col-auto">-->
    <!--                    <select class="form-select form-select-sm" id="search" name="search">-->
    <!--                        <option value="b_title" th:selected="${boardList.requestDTO.search=='b_title'}">글제목</option>-->
    <!--                        <option value="b_name" th:selected="${boardList.requestDTO.search=='b_name'}">작성자</option>-->
    <!--                        <option value="b_content" th:selected="${boardList.requestDTO.search=='b_content'}">글내용</option>-->
    <!--                    </select>-->
    <!--                </div>-->
    <!--                <div class="col-auto textArea">-->
    <!--                    <input type="text" placeholder="검색어를 입력하세요" class="form-control form-control-sm" id="keyword" name="keyword" th:value="${boardList.requestDTO.keyword}"/>-->
    <!--                </div>-->
    <!--                <div class="col-auto">-->
    <!--                    <button type="button" id="searchBtn" class="btn btn-primary btn-sm">Search</button>-->
    <!--                    <button type="button" id="allSearchBtn" class="btn btn-primary btn-sm">All Search</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->
    <div class="board-table-height">
        <table class="table table-striped table-hover">
            <thead>
            <tr class="text-center">
                <th scope="col-md-2">글번호</th>
                <th scope="col-md-4">글제목</th>
                <th scope="col-md-2">작성자</th>
                <th scope="col-md-3">등록일</th>
                <th scope="col-md-1">조회수</th>
            </tr>
            </thead>
            <tbody class="list">
            <!-- #lists , #sets , #maps : 컬렉션 관련 기능 제공 -->
            <tr th:if="${#lists.size(boardList) == 0}">
                <td colspan="5">등록된 게시물이 존재하지 않습니다.</td>
            </tr>
            <!--/* Strings 객체의 유틸리티 메서드는  #strings다.  ex) ${#strings.method(string)} */-->
            <th:block th:if="${not #strings.isEmpty(boardList)}">
                <tr class="text-center" th:data-num="*{no}" th:each="board : ${boardList}" th:object="${board}">
                    <td th:text="*{no}"></td>
                    <td class="text-start goDetail" th:text="*{title}"></td>
                    <td class="name text-center" th:text="*{name}"></td>
                    <td th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="*{hit}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <button class="btn btn-primary btn-sm mb-2" id="insertFormBtn" type="button">글쓰기</button>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/board/boardCommon.js"></script>
    <script src="/js/board/boardList.js"></script>
</th:block>
</html>